<div class="footer">
  <hr style="background-color: yellow;" />
  <h4 class="title">Find me on</h4>
  <ul>
    <li>
      <a href="https://github.com/lloydmur" target="blank">
        <i class="fab fa-github-alt fa-3x"></i>
      </a>
    </li>
    <li>
      <a href="#" target="blank">
        <i class="fab fa-linkedin fa-3x"></i>
      </a>
    </li>
  </ul>
  <!--
    <p id="pgbtns">
      <a href="grid.html" class="pgbtn">Grid Page</a>
      <a href="form.html" class="pgbtn">Form Page</a>
    </p>
    -->
  <p style='color: white;'>&copy;
    <script>document.write(new Date().getFullYear());</script>
    Well, here you go.
  </p>
</div>
