<link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet"> 
<nav class="navbar fixed-top navbar-dark">
    <ul class=navbarLinks>
        <li class='nb-link' id='home' >
            <a class="navbar-brand" [routerLink]="['']">Home</a>
        </li>
        <li class="nb-link">
            <a class="navbar-brand" [routerLink]="['/projects']">Projects</a>
        </li>
        <li class="nb-link">
            <a class="navbar-brand" [routerLink]="['/arcade']">Aracde</a>
        </li>
        <li class="nb-link">

        </li>
    </ul>
    <div id="clock">
        <p>{{time}}</p>
    </div>
        
  </nav>