.main{
    padding-top: 56px;
    min-height: 100vh;
    background: linear-gradient(135deg, beige 40%, white , skyblue 50%);
    background-image: url('../../../assets/images/seashore.jpg');
}
h5{
    color: yellow;
}