<div class="main">
    <h5>Welcome to this page!</h5>
    <div class="content">
        <div class="bio">
            <div class="about-img">
                <img src="../../../assets/images/S_edit_1.jpg" alt="thumbs up" width="120" height="120">
            </div>
            <div class="about-bio">
                <h4>Welcome to my page!</h4>
                <hr style="background-color: darkslategray;">
                <p>
                  My name is Lloyd Murphy. I am a CEN graduate from UB. While relieved to have finally graduated, I continue to seek knowledge and expand my array of talents. Visit the projects page to see a few of the projects I've worked on. You can also find me on Github. 
                </p>
            </div>
        </div>
        <div class="skills">
            <ul class="skill-tabs">
                <li class="tab active">
                    Software Engineering
                </li>
                <li class="tab">
                    Integrated System Design
                </li>
                <li class="tab">
                    Web Development
                </li>
                <li class="tab">
                    Other
                </li>
            </ul>
            <div class="tab-content">
                
            </div>
        </div>
    </div>
</div>

